<div class="admin-layout">
    <div class="header">
      <div class="dropdown">
        <button mat-button [matMenuTriggerFor]="afterMenu">
          <div class = "square rounded d-inline p-1">DV</div>
              David Vasilyan <i class="far fa-angle-down"></i>
        </button>
        <mat-menu #afterMenu="matMenu" xPosition="after">
          <button mat-menu-item>Log Out</button>
        </mat-menu>
      </div>
      </div>
      <app-side-bar isAdmin="True"></app-side-bar>
</div>
    
