<div class="dashboard-layout">
    <div id = 'dashboard-title'>Dashboard</div>
    <div class="dashboard-user-background-main">
        <div class="dashboard-user-info-container">
            <div class="greeting">{{getDashboardInfo().greeting}}</div>
            <p> {{getDashboardInfo().content}}</p>   
        </div>
        <div class="dashboard_image" style="background-image: getIllustrationUrl();"></div>
    </div>
    <!-- badges -->
    <div class="dashboard-badges container-fluid">
        <div id = "badges-title">BADGES</div>
        <div class="card-group container">
            <div class="card rounded" style="width: 20%; background-color:#1ED392;">
                <div class="card-body">
                    Received
                    <div class="received-badges square rounded">{{dashboardSummary.receivedBadges}}</div>
                </div>
            </div>
            <div class="card rounded" style="width: 20%; background-color:#FFAA2E;">
                <div class="card-body">
                    Pending 
                    <div class="pending-badges square rounded">{{dashboardSummary.pendingBadges}}</div>
                </div> 
            </div>
            <div class="card rounded" style="width: 20%; background-color:#F8174D;">
                <div class="card-body">
                    Rejected 
                    <div class="rejected-badges square rounded">{{dashboardSummary.rejectedBadges}}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- end badges -->
</div>