<div class="profile">
    <p class = "prof d-inline p-2">My Profile</p>
    <div class="card">
        <div class="card-body">
            <div class="row g-2">
                <div class="col-lg-11">
                    <div class = "personalInfo">Personal Info</div>
                </div>
                <div class="col-sm">
                    <div class="editbntn">
                        <img src = '../../../assets/images/editbtn.svg' type = "submit">
                    </div>
                </div>
            </div>
            <div class="row">
                 <div class="col-sm">
                    <img src='../../../assets/images/profImage.svg'>
                 </div>
                 <div class="col-sm">
                     <div class="info">
                         Suzy Melkonyan
                     </div>
                 </div>
            </div>
            
        </div>
    </div>
</div>
    