<div class="card mb-2">
    <div class="card-body">
        <div class="row m-2">
            <div class="col mt-3"> {{badge.id}} </div>
            <div class="col">
               <img src="#" alt="{{badge.name}}"> 
            </div>
            <div class="col mt-3">{{badge.name}}</div>
            <div class="col mt-3">
                <div class="circle"> {{badge.level}}</div>
            </div>
            <div class = "col mt-3">
                <div class = "circle p-1">{{badge.status}}</div>
            <div class="col p-2"> {{badge.date | date}} </div>
        </div>
    </div>
</div>
