.layout {
    width: 100%;
    height: 800px;
    background: #f8f1f1;
    background-size: contain, cover;
    background-repeat: no-repeat;
    font-family: Open Sans;
  }

.layout .sidebar {
  overflow: auto;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 20%;
  height: 100%;
}


#badgeh1{
    color: #22B8C6;
    font-weight: bold;
    font-size: 30px;
    left: 1.88%;
    right: 85.16%;
    top: 1.04%;
    bottom: 96.44%;
}
#landh1{
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

#badgeh1, #landh1{
    display:inline;
}

.layout .sidebar ul li a{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 1px;
    
    color: #B4BEC7;
}

.layout .card {
   width: 80%;
   height: 25%;
   left: 20%;
   top: 0px;
   border-radius: 0pt;
   background: linear-gradient(45.36deg, #39CBC7 0%, #2B64CB 99.37%);
}

.layout .content {
   width: 100%;
   height: 100%;
   left: 20%;
}