<h4 mat-dialog-title>
  <mat-toolbar role="toolbar" class="task-header">
      <span> {{dialogTitle}} Badge</span>
      <span class="fx-spacer"></span>
          <span (click)="onCancel()" aria-hidden="true" style="cursor: pointer;">&times;</span>
  </mat-toolbar>
</h4>
<div mat-dialog-content>
    <div class="container">
      <div class="row g-2">
        <label id="nameLbl">Name</label>
        <div class="col ">
          <mat-form-field appearance="outline" id="nameForm">
            <input matInput type = "text"
                   [formControl]="badgeNameControl"
                   [errorStateMatcher]="matcher">
            <mat-error *ngIf="badgeNameControl.hasError('required')">
              Badge is <strong>required</strong>.
            </mat-error>
          </mat-form-field>
        </div>
          <div class="col-auto mt-4">
            <mat-radio-group [formControl]="badgeLevelControl">
              <mat-radio-button value="1">Level 1</mat-radio-button>
              <mat-radio-button value="2">Level 2</mat-radio-button>
              <mat-radio-button value="3">Level 3</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
      </div>
</div>
<div mat-dialog-actions class="dialog-footer-buttons">
    <button mat-button class="cancelBtn" (click)="onCancel()" >Cancel</button>
    <button mat-button class="saveBtn" (click)="onSave()">Save</button>
</div>
