.card {
    border-radius: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 6px rgba(51, 68, 85, 0.15);
    }
    
    .card .card-body .row .col{
    
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    margin-top: 2px;
    align-items: center;
    color: #334455;
    
    }
    
    .circle{
        width: 40px;
        height: 40px;
        padding: 6px;
        background-color: #22B8C6;
        color: white;
        border-radius: 50%;
        text-align: center;
    }
    
    .card .card-body .editbtn{
        width: 100px;
        height: 48px;
        border: 1px solid #22B8C6 !important;
        color: #22B8C6;
        padding: 2px;
    }
    .card .card-body .editbtn:focus{
        border-color:#22B8C6;
        color: #22B8C6;
    }
    .card .card-body .editbtn:hover{
        width: 100px;
        height: 48px;
        background-color: #22B8C6;
        color:white;
    }
    .card .card-body .deletebtn, .deletebtn:hover, .deletebtn:active, .deletebtn:visited {
        width: 100px;
        height: 48px;
        background-color: #22B8C6 !important;
        border: 0px;
    }