<div class="card-group" *ngFor="let badge of badges">
    <div class="card mb-2">
        <div class="card-body">
            <div class="row m-2">
                <div class="col mt-3"> {{badge.ownerId}} </div>
                <div class="col">
                   <img src="{{badge.image}}" alt="{{badge.name}}"> 
                </div>
                <div class="col mt-3">{{badge.name}}</div>
                <div class="col mt-3">
                    <div class="circle"> {{badge.level}}</div>
                </div>
                <div class="col p-2"> {{badge.creationDate | date}} </div>
                <div class="col-3 p-2">
                    <button mat-button
                    class="editbtn"
                    (click) = "openEditBadgeDialog('Edit')">Edit</button>
                    <button mat-button
                     class="deletebtn"
                     (click) = "openDeleteBadgeDialog(badge)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
