.bg{
    background-image: url('../../assets/images/dashboard_background.svg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }